<ul id="sidebar-nav">
  <li><a href="/stat_info">System Information</a></li>
  <li><a href="/usage_status">System Usage</a></li>
  <ul>
    <li><a href="/usage_status">Status</a></li>
    <li><a href="/usage_cpu">CPU</a></li>
    <ul>
      <li><a href="/usage_cpu">CPU</a></li>
      <li><a href="/stat_prcs">Processes</a></li>
    </ul>
    <li><a href="/usage_mem">Memory</a></li>
    <li><a href="/usage_tcp">Network (TCP)</a></li>
    <ul>
      <li><a href="/usage_tcp">TCP</a></li>
      <li><a href="/stat_net">Netstat</a></li>
    </ul>
    <li><a href="#">IPCS</a></li>
    <ul>
      <li><a href="/stat_ipcq">Queue</a></li>
      <li><a href="/stat_ipcm">SHM</a></li>
    </ul>
    <li><a href="/usage_disk">Disk</a></li>
    <ul>
      <li><a href="/usage_disk">Disk</a></li>
      <li><a href="/stat_disk">Filesystem</a></li>
    </ul>
  </ul>
</ul>
